@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
}

main {
  width: 100%;
}

#headline {
  color: #ec5242;
  text-align: center;
  margin: auto;
}

#welcome {
  font-size: 20px;
  font-weight: 100;
}

h1 {
  font-size: 30px;
  font-weight: 1000;
}

@media (min-width: 768px){
  #headline {
    text-align: left;
    width:fit-content;
  }
}
