@import url('http://fonts.googleapis.com/css?family=Lato:400,700');

body {
  font-family: 'Lato', sans-serif;
}

main {
  width: 100%;
}

.menue-button {
  position: absolute;
  width: 40px;
  margin: 5px;
  border: none;
  background: transparent;
}

.menue-button div {
  width: 35px;
  height: 5px;
  background-color: #272a31;
  margin: 6px 0;
}

#web {
  display: none;
}

#logo {
  width: 60px;
  height: 60px;
}

#intro {
  background: #ededed;
  z-index: -1;
  position: relative;
  padding-bottom: 10%;
}

#intro-background {
  width: 100%;
  z-index: -1;
  position: relative;
}

#headline {
  color: transparent;
  text-align: center;
  margin: auto;
  width: 90%;
  margin-top: -25%;
  background: url('./images/orange.png') no-repeat;
  -webkit-background-clip: text;
}

#welcome {
  font-size: 20px;
  font-weight: 100;
}

h1 {
  font-size: 30px;
  font-weight: 1000;
}

#bio {
  border: 2px solid #d3d3d3;
  background-color: white;
  width: 70%;
  margin: auto;
  padding: 3%;
  color: #272a31;
}

#date {
  color: #272a31;
  font-weight: 200;
  width: fit-content;
  padding-top: 3%;
  margin: auto;
  font-size: 15px;
}

#program {
  background: #272a31;
  padding: 5%;
  align-items: center;
}

.program-header {
  color: #ec5242;
  align-self: center;
  margin: auto;
  text-align: center;
  padding: 10px;
}

.act {
  display: flex;
  background: #5d5e5b;
  color: white;
  margin: 3%;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

.desciption {
  width: 60%;
}

.act-logo {
  height: 40px;
  width: 40px;
}

.act-name {
  color: #ec5242;
}

.stars {
  color: #272a31;
  max-width: 600px;
  margin: 3%;
}

.stars h3 {
  font-weight: 1000;
}

.stars h4 {
  color: #ec5242;
  font-weight: 80;
  font-style: italic;
}
.stars h2
, .festiv h2
, .prev h2 {
  text-align: center;
  font-size: 50px;
  margin:0
}

.stars hr,
.festiv hr,
.prev hr {
  height: 1px;
  border: none;
  width: 50px;
  background-color: #ec5242;
}

.actor {
  display: flex;
  gap: 15px;
  margin: 4% 0 4% 0;
}

.headshot {
  width: 30%;
  height: auto;
}

.container hr {
  width: 50px;
  margin: 0;
  background-color: #d3d3d3;
}

a {
  text-decoration: none;
  color: inherit;
}

.popup {
  position: fixed;
  background: #272a31;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: space-between;
  overflow: auto;
}

.list-popup {
  color: #fff;
  list-style: none;
  text-decoration: none;
  font-size: 30px;
}

.list-popup li {
  margin: 20px;
}

.close-button {
  margin: 20px;
}

#jed-logo {
  background-color: #ec5242;
  width: 50%;
  margin: auto;
}

.festiv {
  color: #272a31;
  text-align: center;
  padding: 10%;
}

.event {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  gap: 5px;
}

.event img {
  width: 300px;
  height: 150px;
  z-index: -1;
  mix-blend-mode: multiply;
}

.shade {
  margin-top: 10%;
  height: fit-content;
  width: fit-content;
  background-color: #ec5242;
}

.prev {
  padding: 10%;
}

@media (min-width: 768px) {
  header {
    display: unset;
  }

  #web {
    display: flex;
    width: 80%;
    justify-content: space-between;
    margin: auto;
  }

  #mobile {
    display: none;
    flex: none;
  }

  #navigator {
    display: flex;
    justify-content: space-between;
    width: 50%;
    align-items: center;
  }

  #headline {
    text-align: left;
    padding-left: 7%;
    width: 50%;
  }

  #welcome {
    font-size: 30px;
  }

  h1 {
    font-size: 40px;
  }

  #bio {
    width: 50%;
  }

  #acts-container {
    display: flex;
  }

  .act {
    flex-direction: column;
    margin: 3px;
    padding: 20px 0 20px 0;
    width: fit-content;
  }

  .act-name {
    margin: 10px;
  }

  .desciption {
    margin: 10px;
  }

  .stars {
    max-width: 100%;
  }

  .container {
    display: grid;
    width: 90%;
    grid-template-columns: [col1-start] 50% [col1-end row2-start] 50% [col2-end];
    margin: auto;
    gap: 50px;
  }

  .event {
    flex-direction: row;
    max-width: 800px;
  }
}
